/* Landing CSS grid setup */
.landing-inner {
	background-color: white;
	height: 100vh;
	display: grid;
	/* grid-gap: 20px; */
	column-gap: 75px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-areas:
		'header header'
		'content1 content2'
		'footer footer';
}
.landing-header {
	grid-area: header;
}
.landing-footer {
	grid-area: footer;
}
.landing-left {
	grid-area: content1;
}
.landing-right {
	grid-area: content2;
}

/* Landing nav */
.landing-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
	padding: 2em;
}
.landing-navbar ul {
	display: flex;
}
.landing-navbar li {
	padding: 0.45rem;
	margin: 0 1rem;
	font-size: 1.2em;
}

/* Landing hero */
.landing-left {
	width: 75%;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.landing-right {
	width: 75%;
	margin-right: auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.landing-left h1 {
	font-size: 5.35em;
	line-height: 1em;
}
.landing-right img {
	border-radius: 10px;

	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* Landing footer */
.landing-footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	height: 100%;
	margin: auto;
	padding: 2em;
}

/* Register */
.register-form,
.login-form {
	margin-left: 2px;
}
.submit-register,
.submit-login {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.submit-register p,
.submit-login p {
	position: relative;
	top: 6px;
}
