/* lists Page */
.lists-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.lists-header .btn {
	position: relative;
	bottom: 10px;
}
.lists {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2%;
}

.list {
	border-radius: 8px;
	border: 0.5px solid grey;
}

.list-inner-header {
	display: flex;
	justify-content: space-between;
}

.list img {
	width: 4.5em;
	height: 4.5em;
	background: white;
	border: 1px solid black;
	border-radius: 50%;
	object-fit: cover;
}

.list-profile-link {
	color: rgb(101, 101, 101);
	font-weight: bold;
}
.list-profile-link:hover {
	color: var(--dark-color);
}

.list-actions {
	display: flex;
	justify-content: space-between;
}

.list-restaurant {
	border-radius: 4px;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-gap: 2rem;
	align-items: flex-start;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
	margin-bottom: 2em;
}

.list .comment-count {
	background: white;
	color: var(--primary-color);
	text-align: center;
	padding: 0.1em 0.4em;
	border-radius: 5px;
	font-size: 0.8rem;
	margin-left: 0.4em;
}

.comment-date {
	color: #aaa;
	font-size: 01rem;
	font-style: italic;
	margin-bottom: 0.25rem;
}

.comment {
	border-radius: 8px;
	position: relative;
}

.comment img {
	position: absolute;
	width: 5em;
	height: 5em;
	background: white;
	border: 3px solid black;
	border-radius: 50%;
	top: 15%;
	left: -4%;
	object-fit: cover;
}

.comment-inner {
	width: 90%;
	margin: 1em auto;
}
.comment-inner h4 {
	font-size: 1.3em;
}
.comment-inner h4:hover {
	color: var(--dark-color);
}

.list-form .list-form-header {
	background: var(--primary-color);
	padding: 0.5rem;
}

@media (max-width: 950px) {
	.list img {
		width: 6em;
		height: 6em;
	}
}
@media (max-width: 715px) {
	.list {
		grid-template-columns: 1fr;
	}
	.list img {
		display: none;
	}
	/* .list-actions {
		display: flex;
		flex-wrap: wrap;
		align-items: space-evenly;
	}
	.list-actions > a,
	.list-actions > button {
		margin-bottom: 1em;
	} */
}

@media (max-width: 550px) {
	/* .list-actions > a:last-child {
		display: none;
	} */
}
