/* Profiles Page */
.profiles-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.profiles-header .btn {
	position: relative;
	bottom: 8px;
}

.profiles {
	display: grid;
	grid-template-columns: 1.75fr 1fr;
	gap: 5%;
}
.profiles-sidebar-wrapper {
	padding: 0 1em;
}

.profiles-sidebar {
	border-radius: 10px;
	border: 1px solid grey;
}
.profiles-sidebar-wrapper .divider {
	width: 96%;
	margin: auto;
}
.profiles-sidebar .sidebar-header {
	border-bottom: 1px solid grey;
	padding: 0.25em 0.75em;
}
.profiles-sidebar ul li {
	padding: 1.5em;
	border-bottom: 1px solid black;
}
.profiles-sidebar ul li:last-child {
	border-bottom: none;
}

.profile-item {
	border-radius: 8px;
	border: 0.5px solid grey;
	background-color: rgba(125, 208, 156, 0.1);
}
.profile-item-top {
	border-radius: 8px 8px 0 0;
	background-color: white;
}
.profile-item-header {
	display: flex;
	justify-content: space-between;
}
.profile-item-header img {
	width: 7em;
	height: 7em;
	background: white;
	border: 1.5px solid grey;
	border-radius: 50%;
	object-fit: cover;
}

/* 

.profile-item {
	padding: 2rem 8rem;
	line-height: 1.8;
	margin-bottom: 3rem;
	border-radius: 8px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
	position: relative;
}
.profile-item img {
	width: 3.5em;
	height: 3.5em;
	background: white;
	border: 1px solid black;
	border-radius: 50%;
	object-fit: cover;
}

.profile-item-top {
	display: flex;
	align-items: baseline;
}

.profile-item-top h2 {
	font-size: 2em;
	margin-right: 1em;
}
.profile-item-top p {
	font-size: 1.2em;
	font-weight: 300;
}

.profiles-content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: flex-start;
	grid-gap: 4rem;
}

.profile-item .fav-res {
	font-weight: bold;
	font-size: 1.4em;
} */

/* Profile Page */
.profile-grid {
	display: grid;
	grid-template-areas:
		'top top'
		'about about'
		'res media';
	grid-gap: 1rem;
}

.profile-top {
	grid-area: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 1em;
	box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.25);
}

.profile-top img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border: 2px solid black;
}

.profile-top .icons a {
	color: #fff;
	margin: 0 0.3rem;
}

.profile-top .icons a:hover {
	color: var(--dark-color);
}

.profile-about {
	grid-area: about;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 1em;
	box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.25);
}
.profile-about h2 {
	font-size: 2em;
}
.profile-about .bio {
	text-align: left;
	width: 90%;
	margin: auto;
}
.profile-about .cuisines {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.profile-res {
	border-radius: 4px;
	grid-area: res;
	box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.25);
}

.profile-media {
	border-radius: 4px;
	grid-area: media;
	box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.25);
}

.profile-res h2,
.profile-media h2 {
	margin-bottom: 1rem;
}

.profile-res > div,
.profile-media > div {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: #ccc 1px dotted;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
}

.profile-res > div:last-child,
.profile-media > div:last-child {
	border: 0;
}

.profile-res p,
.profile-media p {
	margin: 0.5rem 0;
}

/* Mobile Styles */

@media (max-width: 950px) {
	.profile-item {
		padding: 2rem 3rem;
		/* font-size: 0.9em; */
	}
	.profile-item img {
		display: none;
	}
	.profile-item-top {
		flex-wrap: wrap;
	}
}
@media (max-width: 715px) {
	/* Profiles Page */
	.profile-item {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.profile-item-top h2 {
		margin: auto;
	}
	.profile-item-top p {
		display: block;
		width: 100%;
	}

	.profile-item .profiles-content {
		display: none;
	}

	/* Profile Page */
	.profile-top img,
	.profile img {
		width: 200px;
		margin: auto;
	}

	.profile-grid {
		grid-template-areas:
			'top'
			'about'
			'res'
			'media';
	}

	.profile-about .cuisines {
		flex-direction: column;
	}
}

@media (max-width: 550px) {
}

@media (max-width: 375px) {
}
@media (max-width: 325px) {
}
